*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: #f9f2e1;
    padding:18px;
}
li,h1,ul{
    display: inline;
}
ul{
    margin-left: 55%;
    color: gray;
    cursor: pointer;
}
li:hover{
    color: rgb(255, 213, 0);
}
input{
    width: 70%;
    padding: 18px;
    text-align: center;
    margin-top: 25px;
}
.searchbar{
    text-align: center;
    margin-top: 15px;
}
.box{
    border-color: black ;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    height: 400px;
    width: 250px;
}
.box:hover{
    background-color: #cdb38f;
    color: white;
}
.products{
    text-align: center;
    margin-top: 35px;
}
.about{
    text-align: center;
    margin-top: 25px;
    padding: 10px;
}
.contact{
    background-color: black;
    color:white ;
    padding: 10px;
}
div{
    padding: 20px;
}
